[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "projectR"]
	path = projectR
	url = https://github.com/genesofeve/projectr
	shallow = true
	registered = true
